In [1]:
import pandas as pd
from datetime import datetime

In [2]:


file_path = "D:\study\Data analysis\DA thày long\level 3\day 4\RFM pizzahut\OneDrive_2024-03-10\De bai\Round 2 - Data set.xlsx"

df = pd.read_excel(file_path, sheet_name="Purchasing data")

In [3]:
df

,Unnamed: 0,BillID,Channel,OrderFrom,TransactionDate,SalesAmount,CustomerID,CustomerGender,VoucherStatus,Province
0,0,0,Take Away,CALL CENTER,2021-10-01 00:00:00+00:00,296891,1753863,Unknown,No,Ho Chi Minh City
1,1,1,Take Away,STORE,2021-10-01 00:00:00+00:00,301782,1124050,Unknown,No,Hanoi
2,2,2,Take Away,WEBSITE,2021-10-01 00:00:00+00:00,319792,1626827,Male,No,Hanoi
3,3,3,Take Away,STORE,2021-10-01 00:00:00+00:00,424762,125643,Male,No,Hanoi
4,4,4,Delivery,STORE,2021-10-01 00:00:00+00:00,280031,2117237,Unknown,No,Hanoi
...,...,...,...,...,...,...,...,...,...,...
1048570,1048570,1048570,Delivery,STORE,2023-01-09 00:00:00+00:00,178107,1398136,Unknown,No,Southern Provinces
1048571,1048571,1048571,Take Away,STORE,2023-01-09 00:00:00+00:00,331447,2023258,Unknown,No,Hanoi
1048572,1048572,1048572,Take Away,WEBSITE,2023-01-09 00:00:00+00:00,381509,2041510,Female,Yes,Southern Provinces
1048573,1048573,1048573,Take Away,STORE,2023-01-09 00:00:00+00:00,508205,1927215,Unknown,Yes,Hanoi
1048574,1048574,1048574,Delivery,CALL CENTER,2023-01-09 00:00:00+00:00,349016,324317,Male,No,Hanoi

In [4]:
df = df.drop(columns=['Unnamed: 0'])

In [6]:
df.dtypes

BillID              int64
Channel            object
OrderFrom          object
TransactionDate    object
SalesAmount         int64
CustomerID          int64
CustomerGender     object
VoucherStatus      object
Province           object
dtype: object

In [5]:
df['TransactionDate'] = pd.to_datetime(df['TransactionDate'])

In [6]:
df

,BillID,Channel,OrderFrom,TransactionDate,SalesAmount,CustomerID,CustomerGender,VoucherStatus,Province
0,0,Take Away,CALL CENTER,2021-10-01 00:00:00+00:00,296891,1753863,Unknown,No,Ho Chi Minh City
1,1,Take Away,STORE,2021-10-01 00:00:00+00:00,301782,1124050,Unknown,No,Hanoi
2,2,Take Away,WEBSITE,2021-10-01 00:00:00+00:00,319792,1626827,Male,No,Hanoi
3,3,Take Away,STORE,2021-10-01 00:00:00+00:00,424762,125643,Male,No,Hanoi
4,4,Delivery,STORE,2021-10-01 00:00:00+00:00,280031,2117237,Unknown,No,Hanoi
...,...,...,...,...,...,...,...,...,...
1048570,1048570,Delivery,STORE,2023-01-09 00:00:00+00:00,178107,1398136,Unknown,No,Southern Provinces
1048571,1048571,Take Away,STORE,2023-01-09 00:00:00+00:00,331447,2023258,Unknown,No,Hanoi
1048572,1048572,Take Away,WEBSITE,2023-01-09 00:00:00+00:00,381509,2041510,Female,Yes,Southern Provinces
1048573,1048573,Take Away,STORE,2023-01-09 00:00:00+00:00,508205,1927215,Unknown,Yes,Hanoi
1048574,1048574,Delivery,CALL CENTER,2023-01-09 00:00:00+00:00,349016,324317,Male,No,Hanoi

In [7]:
df['Channel'].unique()

array(['Take Away', 'Delivery', 'Dine In'], dtype=object)

In [8]:
customer_group = df.groupby('Channel').agg({'CustomerID':'count','SalesAmount':'sum'}).reset_index()

In [9]:
customer_group = customer_group.rename(columns={'CustomerID':'Total Customer'})

In [10]:
customer_group

     Channel  Total Customer   SalesAmount
0   Delivery          500918  172803061863
1    Dine In           23507   10609311111
2  Take Away          524150  136269021450

In [11]:
province_group = df.groupby('Province').agg({'CustomerID':'count','SalesAmount':'sum'}).reset_index()

In [12]:
province_group = province_group.rename(columns={'CustomerID':'Total Customer'})

In [13]:
province_group.sort_values(by='SalesAmount',ascending=False)

             Province  Total Customer   SalesAmount
0               Hanoi          321700  104173215711
1    Ho Chi Minh City          304367   99646505266
3  Southern Provinces          259482   72133485546
2   Nothern Provinces          163026   43728187901

In [14]:
province_group.describe().reset_index()

   index  Total Customer   SalesAmount
0  count        4.000000  4.000000e+00
1   mean   262143.750000  7.992035e+10
2    std    71089.528138  2.797517e+10
3    min   163026.000000  4.372819e+10
4    25%   235368.000000  6.503216e+10
5    50%   281924.500000  8.589000e+10
6    75%   308700.250000  1.007782e+11
7    max   321700.000000  1.041732e+11

In [15]:
gender_group = df.groupby('CustomerGender').agg({'CustomerID':'count','SalesAmount':'sum'}).reset_index()

In [16]:
gender_group

  CustomerGender  CustomerID   SalesAmount
0         Female      142385   49017813959
1           Male      272150   92613222780
2        Unknown      634040  178050357685

In [17]:
#male used voucher
male_use_voucher = df[(df['VoucherStatus'] == 'Yes') & (df['CustomerGender'] == 'Male')].groupby('Province').agg({'VoucherStatus':'count'}).reset_index()
male_use_voucher.rename(columns = {'VoucherStatus':'MalesUseVouchers'}, inplace = True)

#male didn't use voucher
male_no_voucher = df[(df['VoucherStatus'] == 'No') & (df['CustomerGender'] == 'Male')].groupby('Province').agg({'VoucherStatus':'count'}).reset_index()
male_no_voucher.rename(columns = {'VoucherStatus':'MalesDontUseVouchers'}, inplace = True)

#female used voucher
female_use_voucher = df[(df['VoucherStatus'] == 'Yes') & (df['CustomerGender'] == 'Female')].groupby('Province').agg({'VoucherStatus':'count'}).reset_index()
female_use_voucher.rename(columns = {'VoucherStatus':'FemalesUseVouchers'}, inplace = True)

#female didn't use voucher
female_no_voucher = df[(df['VoucherStatus'] == 'No') & (df['CustomerGender'] == 'Female')].groupby('Province').agg({'VoucherStatus':'count'}).reset_index()
female_no_voucher.rename(columns = {'VoucherStatus':'FemalesDidntUseVouchers'}, inplace = True)

In [18]:
voucher_province_by_gender = male_use_voucher.merge(male_no_voucher,on='Province',how='inner').merge(female_use_voucher,on='Province',how='inner').merge(female_no_voucher,on='Province',how='inner')
voucher_province_by_gender

,Province,MalesUseVouchers,MalesDontUseVouchers,FemalesUseVouchers,FemalesDidntUseVouchers
0,Hanoi,18604,71674,7725,35906
1,Ho Chi Minh City,20434,74148,11429,46110
2,Nothern Provinces,4903,21507,1852,9693
3,Southern Provinces,10850,50030,4758,24912

In [19]:
R = df.groupby('CustomerID')['TransactionDate'].max().reset_index()

In [20]:
R['TransactionDate'] = R['TransactionDate'].dt.tz_convert(None)

In [21]:
today = pd.Timestamp(datetime.today().date())  # Get today's date
R['DateDiff'] = (today - R['TransactionDate']).dt.days
R

        CustomerID TransactionDate  DateDiff
0                0      2021-12-24       823
1                1      2022-03-07       750
2                8      2022-07-11       624
3               16      2022-09-16       557
4               18      2022-01-29       787
...            ...             ...       ...
583637     2174065      2022-04-30       696
583638     2174066      2023-01-03       448
583639     2174072      2022-12-04       478
583640     2174075      2022-12-10       472
583641     2174083      2021-10-16       892

[583642 rows x 3 columns]

In [22]:
Q1_R = R['DateDiff'].quantile(0.25)
Q2_R = R['DateDiff'].mean()
Q3_R=  R['DateDiff'].quantile(0.75)
Q4_R = R['DateDiff'].max()
print("Q1 (25th percentile):", Q1_R)
print("Q2 (median):", Q2_R)
print("Q3 (75th percentile):", Q3_R)
print("Q4 (max):", Q4_R)

Q1 (25th percentile): 543.0
Q2 (median): 661.8328684364731
Q3 (75th percentile): 778.0
Q4 (max): 907

In [23]:
R_seprate = lambda x: 4 if x < Q1_R else(3 if x >=Q1_R and x<Q2_R 
                                        else(2 if x >=Q2_R and x<Q3_R 
                                             else(1)))

In [24]:
R['R'] = R['DateDiff'].apply(R_seprate)

In [25]:
R = R[['CustomerID','R']]
R

        CustomerID  R
0                0  1
1                1  2
2                8  3
3               16  3
4               18  1
...            ... ..
583637     2174065  2
583638     2174066  4
583639     2174072  4
583640     2174075  4
583641     2174083  1

[583642 rows x 2 columns]

In [26]:
F = df.groupby('CustomerID')['BillID'].count().reset_index()

In [27]:
F['BillID'].unique()

array([  1,   2,   3,   4,   7,  16,   5,   8,   6,  15,   9,  20,  14,
        11,  12,  19,  27,  13,  10,  17,  42,  24,  18,  43,  21,  23,
        32,  29,  31,  35,  30,  34,  26,  48,  25,  39,  54, 141,  46,
        22,  37,  44,  47,  52,  45, 109,  50,  60,  28,  40, 123,  33,
        36,  72,  68,  61,  51,  67,  79,  64,  70,  56,  58,  57,  63,
       155,  38, 136,  41,  75,  53, 168,  81,  73,  89,  74,  82,  62,
        49,  98, 166,  77, 238,  80,  65,  83,  55,  99, 101,  84],
      dtype=int64)

In [28]:
F_seprate = lambda x: 1 if x < 15 else(2 if x >=15 and x<40 
                                        else(3 if x >=40 and x<80 
                                             else(4)))

In [29]:
F['F'] = F['BillID'].apply(F_seprate)

In [30]:
F = F[['CustomerID','F']]
F

        CustomerID  F
0                0  1
1                1  1
2                8  1
3               16  1
4               18  1
...            ... ..
583637     2174065  1
583638     2174066  1
583639     2174072  1
583640     2174075  1
583641     2174083  1

[583642 rows x 2 columns]

In [31]:
M = df.groupby('CustomerID').agg({'SalesAmount':'sum'}).reset_index()

In [32]:
M

        CustomerID  SalesAmount
0                0       411663
1                1       105503
2                8      1098496
3               16       286558
4               18       287492
...            ...          ...
583637     2174065       138943
583638     2174066       143685
583639     2174072       953618
583640     2174075       262489
583641     2174083       185271

[583642 rows x 2 columns]

In [33]:
Q1_M = M['SalesAmount'].quantile(0.25)
Q2_M = M['SalesAmount'].mean()
Q3_M=  M['SalesAmount'].quantile(0.75)
Q4_M = M['SalesAmount'].max()
print("Q1 (25th percentile):", Q1_M)
print("Q2 (median):", Q2_M)
print("Q3 (75th percentile):", Q3_M)
print("Q4 (max):", Q4_M)

Q1 (25th percentile): 201289.0
Q2 (median): 547735.4173003314
Q3 (75th percentile): 567481.25
Q4 (max): 133774476

In [34]:
M_seprate = lambda x: 1 if x < Q1_M else(2 if x >=Q1_M and x<Q2_M
                                        else(3 if x >=Q2_M and x<Q3_M
                                             else(4)))

In [35]:
M['M'] = M['SalesAmount'].apply(M_seprate)

In [36]:
M = M[['CustomerID','M']]

In [37]:
M

        CustomerID  M
0                0  2
1                1  1
2                8  4
3               16  2
4               18  2
...            ... ..
583637     2174065  1
583638     2174066  1
583639     2174072  4
583640     2174075  2
583641     2174083  1

[583642 rows x 2 columns]

In [38]:
RFM = R.merge(F, on='CustomerID', how = 'inner').merge(M, on = 'CustomerID', how = 'inner')
RFM

        CustomerID  R  F  M
0                0  1  1  2
1                1  2  1  1
2                8  3  1  4
3               16  3  1  2
4               18  1  1  2
...            ... .. .. ..
583637     2174065  2  1  1
583638     2174066  4  1  1
583639     2174072  4  1  4
583640     2174075  4  1  2
583641     2174083  1  1  1

[583642 rows x 4 columns]

In [39]:
RFM['RFM'] = RFM[['R','F','M']].apply(lambda x: ''.join(map(str,x)), axis = 1)
RFM

        CustomerID  R  F  M  RFM
0                0  1  1  2  112
1                1  2  1  1  211
2                8  3  1  4  314
3               16  3  1  2  312
4               18  1  1  2  112
...            ... .. .. ..  ...
583637     2174065  2  1  1  211
583638     2174066  4  1  1  411
583639     2174072  4  1  4  414
583640     2174075  4  1  2  412
583641     2174083  1  1  1  111

[583642 rows x 5 columns]

In [40]:
RFM['RFM'].unique()

array(['112', '211', '314', '312', '411', '412', '311', '212', '111',
       '414', '114', '214', '424', '213', '313', '113', '413', '324',
       '434', '224', '444', '234', '334', '124', '244', '322'],
      dtype=object)

In [41]:
rfm = pd.read_csv('D:\\study\\data\\rfm\\rfm_segment.csv')

In [42]:
rfm['RFM'] = rfm['RFM'].astype(str)

In [43]:
RFM_final = RFM.merge(rfm,on='RFM',how='inner')

In [44]:
RFM_final

        CustomerID  R  F  M  RFM         segment
0                0  1  1  2  112            Lost
1                1  2  1  1  211  About to sleep
2               16  3  1  2  312      Promising
3               18  1  1  2  112            Lost
4               25  4  1  1  411    New customer
...            ... .. .. ..  ...             ...
496885     2174065  2  1  1  211  About to sleep
496886     2174066  4  1  1  411    New customer
496887     2174072  4  1  4  414    New customer
496888     2174075  4  1  2  412    New customer
496889     2174083  1  1  1  111            Lost

[496890 rows x 6 columns]

In [45]:
RFM_final = RFM_final.drop(RFM_final.index[0])

In [46]:
RFM_final

        CustomerID  R  F  M  RFM         segment
1                1  2  1  1  211  About to sleep
2               16  3  1  2  312      Promising
3               18  1  1  2  112            Lost
4               25  4  1  1  411    New customer
5               26  4  1  2  412    New customer
...            ... .. .. ..  ...             ...
496885     2174065  2  1  1  211  About to sleep
496886     2174066  4  1  1  411    New customer
496887     2174072  4  1  4  414    New customer
496888     2174075  4  1  2  412    New customer
496889     2174083  1  1  1  111            Lost

[496889 rows x 6 columns]

In [47]:
import plotly.express as px

In [52]:
segment_count = RFM_final.groupby('segment')['CustomerID'].count().reset_index()
segment_count.rename({'CustomerID':'Total Customer'})
segment_count

           segment  CustomerID
0   About to sleep      115904
1          At risk           2
2        Champions          16
3             Lost      132532
4  Loyal Customers           1
5     New customer      142711
6  Potential Loyal           7
7       Promising       105716

In [57]:
segment_count= segment_count.rename(columns={'CustomerID':'Total Customer'})

In [58]:
segment_count

           segment  Total Customer
0   About to sleep          115904
1          At risk               2
2        Champions              16
3             Lost          132532
4  Loyal Customers               1
5     New customer          142711
6  Potential Loyal               7
7       Promising           105716

In [61]:
fig = px.bar(segment_count,x='segment',y='Total Customer',title='Customer Count by Segment')
fig.show()

In [4]:
df = df.drop(df.index[0])

In [96]:
df

,BillID,Channel,OrderFrom,TransactionDate,SalesAmount,CustomerID,CustomerGender,VoucherStatus,Province
1,1,Take Away,STORE,2021-10-01 00:00:00+00:00,301782,1124050,Unknown,No,Hanoi
2,2,Take Away,WEBSITE,2021-10-01 00:00:00+00:00,319792,1626827,Male,No,Hanoi
3,3,Take Away,STORE,2021-10-01 00:00:00+00:00,424762,125643,Male,No,Hanoi
4,4,Delivery,STORE,2021-10-01 00:00:00+00:00,280031,2117237,Unknown,No,Hanoi
5,5,Take Away,STORE,2021-10-01 00:00:00+00:00,281419,1954725,Unknown,No,Nothern Provinces
...,...,...,...,...,...,...,...,...,...
1048570,1048570,Delivery,STORE,2023-01-09 00:00:00+00:00,178107,1398136,Unknown,No,Southern Provinces
1048571,1048571,Take Away,STORE,2023-01-09 00:00:00+00:00,331447,2023258,Unknown,No,Hanoi
1048572,1048572,Take Away,WEBSITE,2023-01-09 00:00:00+00:00,381509,2041510,Female,Yes,Southern Provinces
1048573,1048573,Take Away,STORE,2023-01-09 00:00:00+00:00,508205,1927215,Unknown,Yes,Hanoi
1048574,1048574,Delivery,CALL CENTER,2023-01-09 00:00:00+00:00,349016,324317,Male,No,Hanoi

In [5]:
ML_data= df[['Channel', 'OrderFrom', 'CustomerGender', 'Province', 'VoucherStatus','SalesAmount']]

In [6]:
ML_data.dtypes

Channel           object
OrderFrom         object
CustomerGender    object
Province          object
VoucherStatus     object
SalesAmount        int64
dtype: object

In [7]:
from sklearn import preprocessing
from sklearn.preprocessing import LabelEncoder 
ML_data = ML_data.apply(LabelEncoder().fit_transform)

In [8]:
ML_data

,Channel,OrderFrom,CustomerGender,Province,VoucherStatus,SalesAmount
1,2,2,2,0,0,232176
2,2,3,1,0,0,248925
3,2,2,1,0,0,334448
4,0,2,2,0,0,211683
5,2,2,2,2,0,213008
...,...,...,...,...,...,...
1048570,0,2,2,3,0,113821
1048571,2,2,2,0,0,259610
1048572,2,3,0,3,1,302904
1048573,2,2,2,0,1,380811
1048574,0,1,1,0,0,275256

In [9]:
X = ML_data[['Channel', 'OrderFrom', 'CustomerGender', 'Province', 'VoucherStatus']]
y = ML_data['SalesAmount']

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size =0.2)

In [14]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.svm import SVR
from sklearn.tree import DecisionTreeRegressor
from sklearn.linear_model import LinearRegression
import datetime
from sklearn.model_selection import cross_val_score
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
import math
import numpy as np

In [12]:
models = [LinearRegression(),RandomForestRegressor(n_estimators= 10), DecisionTreeRegressor()]
mae_l = []
rmse_l = []
r2_l = []
time = []
name = []

for model in models:
    t1 = datetime.datetime.now()
    model_name = model.__class__.__name__
    model.fit(X_train, y_train)
    t2 = datetime.datetime.now()
    d = round((t2 - t1).microseconds / 1000, 1)
    y_pred = model.predict(X_test)

    mae = round(mean_absolute_error(y_test, y_pred), 2)
    rmse = round(math.sqrt(mean_squared_error(y_test, y_pred)), 2)
    r2 = round(r2_score(y_test, y_pred), 2)  # Tính R-squared

    mae_l.append(mae)
    rmse_l.append(rmse)
    r2_l.append(r2)
    time.append(d)
    name.append(model_name)

In [15]:
model_index = pd.DataFrame(np.column_stack([name, mae_l, rmse_l,r2_l,time]),columns=['Name', 'MAE','RMSE','R2','Time (s)'])
model_index

                    Name       MAE       RMSE    R2 Time (s)
0       LinearRegression  88493.82  107784.82   0.1    101.7
1  RandomForestRegressor   87316.7  106586.56  0.12    355.0
2  DecisionTreeRegressor  87321.69   106586.9  0.12    343.1