In [1]:
import pandas as pd
from datetime import datetime

In [2]:


file_path = "C:\Dong\Data analyst\class 3\day 4\De bai\Round 2 - Data set.xlsx"

df = pd.read_excel(file_path, sheet_name="Purchasing data")

<>:1: SyntaxWarning: invalid escape sequence '\D'
<>:1: SyntaxWarning: invalid escape sequence '\D'
C:\Users\Bonnort\AppData\Local\Temp\ipykernel_31452\770315825.py:1: SyntaxWarning: invalid escape sequence '\D'
  file_path = "C:\Dong\Data analyst\class 3\day 4\De bai\Round 2 - Data set.xlsx"

In [4]:
df

,Unnamed: 0,BillID,Channel,OrderFrom,TransactionDate,SalesAmount,CustomerID,CustomerGender,VoucherStatus,Province
0,0,0,Take Away,CALL CENTER,2021-10-01 00:00:00+00:00,296891,1753863,Unknown,No,Ho Chi Minh City
1,1,1,Take Away,STORE,2021-10-01 00:00:00+00:00,301782,1124050,Unknown,No,Hanoi
2,2,2,Take Away,WEBSITE,2021-10-01 00:00:00+00:00,319792,1626827,Male,No,Hanoi
3,3,3,Take Away,STORE,2021-10-01 00:00:00+00:00,424762,125643,Male,No,Hanoi
4,4,4,Delivery,STORE,2021-10-01 00:00:00+00:00,280031,2117237,Unknown,No,Hanoi
...,...,...,...,...,...,...,...,...,...,...
1048570,1048570,1048570,Delivery,STORE,2023-01-09 00:00:00+00:00,178107,1398136,Unknown,No,Southern Provinces
1048571,1048571,1048571,Take Away,STORE,2023-01-09 00:00:00+00:00,331447,2023258,Unknown,No,Hanoi
1048572,1048572,1048572,Take Away,WEBSITE,2023-01-09 00:00:00+00:00,381509,2041510,Female,Yes,Southern Provinces
1048573,1048573,1048573,Take Away,STORE,2023-01-09 00:00:00+00:00,508205,1927215,Unknown,Yes,Hanoi
1048574,1048574,1048574,Delivery,CALL CENTER,2023-01-09 00:00:00+00:00,349016,324317,Male,No,Hanoi

In [3]:
df = df.drop(columns=['Unnamed: 0'])

In [6]:
df.dtypes

BillID              int64
Channel            object
OrderFrom          object
TransactionDate    object
SalesAmount         int64
CustomerID          int64
CustomerGender     object
VoucherStatus      object
Province           object
dtype: object

In [4]:
df['TransactionDate'] = pd.to_datetime(df['TransactionDate'])

In [5]:
df

,BillID,Channel,OrderFrom,TransactionDate,SalesAmount,CustomerID,CustomerGender,VoucherStatus,Province
0,0,Take Away,CALL CENTER,2021-10-01 00:00:00+00:00,296891,1753863,Unknown,No,Ho Chi Minh City
1,1,Take Away,STORE,2021-10-01 00:00:00+00:00,301782,1124050,Unknown,No,Hanoi
2,2,Take Away,WEBSITE,2021-10-01 00:00:00+00:00,319792,1626827,Male,No,Hanoi
3,3,Take Away,STORE,2021-10-01 00:00:00+00:00,424762,125643,Male,No,Hanoi
4,4,Delivery,STORE,2021-10-01 00:00:00+00:00,280031,2117237,Unknown,No,Hanoi
...,...,...,...,...,...,...,...,...,...
1048570,1048570,Delivery,STORE,2023-01-09 00:00:00+00:00,178107,1398136,Unknown,No,Southern Provinces
1048571,1048571,Take Away,STORE,2023-01-09 00:00:00+00:00,331447,2023258,Unknown,No,Hanoi
1048572,1048572,Take Away,WEBSITE,2023-01-09 00:00:00+00:00,381509,2041510,Female,Yes,Southern Provinces
1048573,1048573,Take Away,STORE,2023-01-09 00:00:00+00:00,508205,1927215,Unknown,Yes,Hanoi
1048574,1048574,Delivery,CALL CENTER,2023-01-09 00:00:00+00:00,349016,324317,Male,No,Hanoi

In [7]:
df['Channel'].unique()

array(['Take Away', 'Delivery', 'Dine In'], dtype=object)

In [8]:
#Which channel are they purchasing from?
customer_channel = df.groupby('Channel').agg({'CustomerID':'count','SalesAmount':'sum'}).reset_index()

In [9]:
customer_channel = customer_channel.rename(columns={'CustomerID':'Total Customer'})

In [10]:
customer_channel

     Channel  Total Customer   SalesAmount
0   Delivery          500918  172803061863
1    Dine In           23507   10609311111
2  Take Away          524150  136269021450

In [11]:
#customer_channel
province_group = df.groupby('Province').agg({'CustomerID':'count','SalesAmount':'sum'}).reset_index()

In [12]:
province_group = province_group.rename(columns={'CustomerID':'Total Customer'})

In [13]:
province_group.sort_values(by='SalesAmount',ascending=False)

             Province  Total Customer   SalesAmount
0               Hanoi          321700  104173215711
1    Ho Chi Minh City          304367   99646505266
3  Southern Provinces          259482   72133485546
2   Nothern Provinces          163026   43728187901

In [14]:
province_group.describe().reset_index()

   index  Total Customer   SalesAmount
0  count        4.000000  4.000000e+00
1   mean   262143.750000  7.992035e+10
2    std    71089.528138  2.797517e+10
3    min   163026.000000  4.372819e+10
4    25%   235368.000000  6.503216e+10
5    50%   281924.500000  8.589000e+10
6    75%   308700.250000  1.007782e+11
7    max   321700.000000  1.041732e+11

In [15]:
#Who are the people buying products?
gender_group = df.groupby('CustomerGender').agg({'CustomerID':'count','SalesAmount':'sum'}).reset_index()

In [16]:
gender_group

  CustomerGender  CustomerID   SalesAmount
0         Female      142385   49017813959
1           Male      272150   92613222780
2        Unknown      634040  178050357685

In [17]:
#male used voucher
male_use_voucher = df[(df['VoucherStatus'] == 'Yes') & (df['CustomerGender'] == 'Male')].groupby('Province').agg({'VoucherStatus':'count'}).reset_index()
male_use_voucher.rename(columns = {'VoucherStatus':'MalesUseVouchers'}, inplace = True)

#male didn't use voucher
male_no_voucher = df[(df['VoucherStatus'] == 'No') & (df['CustomerGender'] == 'Male')].groupby('Province').agg({'VoucherStatus':'count'}).reset_index()
male_no_voucher.rename(columns = {'VoucherStatus':'MalesDontUseVouchers'}, inplace = True)

#female used voucher
female_use_voucher = df[(df['VoucherStatus'] == 'Yes') & (df['CustomerGender'] == 'Female')].groupby('Province').agg({'VoucherStatus':'count'}).reset_index()
female_use_voucher.rename(columns = {'VoucherStatus':'FemalesUseVouchers'}, inplace = True)

#female didn't use voucher
female_no_voucher = df[(df['VoucherStatus'] == 'No') & (df['CustomerGender'] == 'Female')].groupby('Province').agg({'VoucherStatus':'count'}).reset_index()
female_no_voucher.rename(columns = {'VoucherStatus':'FemalesDidntUseVouchers'}, inplace = True)

In [18]:
voucher_province_by_gender = male_use_voucher.merge(male_no_voucher,on='Province',how='inner').merge(female_use_voucher,on='Province',how='inner').merge(female_no_voucher,on='Province',how='inner')
voucher_province_by_gender

,Province,MalesUseVouchers,MalesDontUseVouchers,FemalesUseVouchers,FemalesDidntUseVouchers
0,Hanoi,18604,71674,7725,35906
1,Ho Chi Minh City,20434,74148,11429,46110
2,Nothern Provinces,4903,21507,1852,9693
3,Southern Provinces,10850,50030,4758,24912

In [5]:
R = df.groupby('CustomerID')['TransactionDate'].max().reset_index()

In [6]:
R['TransactionDate'] = R['TransactionDate'].dt.tz_convert(None)

In [7]:
today = pd.Timestamp(datetime.today().date())  # Get today's date
R['DateDiff'] = (today - R['TransactionDate']).dt.days
R

        CustomerID TransactionDate  DateDiff
0                0      2021-12-24       834
1                1      2022-03-07       761
2                8      2022-07-11       635
3               16      2022-09-16       568
4               18      2022-01-29       798
...            ...             ...       ...
583637     2174065      2022-04-30       707
583638     2174066      2023-01-03       459
583639     2174072      2022-12-04       489
583640     2174075      2022-12-10       483
583641     2174083      2021-10-16       903

[583642 rows x 3 columns]

In [8]:
R_1 = R

In [9]:
Q1_R = R['DateDiff'].quantile(0.25)
Q2_R = R['DateDiff'].mean()
Q3_R=  R['DateDiff'].quantile(0.75)
Q4_R = R['DateDiff'].max()
print("Q1 (25th percentile):", Q1_R)
print("Q2 (median):", Q2_R)
print("Q3 (75th percentile):", Q3_R)
print("Q4 (max):", Q4_R)

Q1 (25th percentile): 554.0
Q2 (median): 672.8328684364731
Q3 (75th percentile): 789.0
Q4 (max): 918

In [10]:
R_seprate = lambda x: 4 if x < Q1_R else(3 if x >=Q1_R and x<Q2_R 
                                        else(2 if x >=Q2_R and x<Q3_R 
                                             else(1)))

In [11]:
R['R'] = R['DateDiff'].apply(R_seprate)

In [12]:
R = R[['CustomerID','R']]
R

        CustomerID  R
0                0  1
1                1  2
2                8  3
3               16  3
4               18  1
...            ... ..
583637     2174065  2
583638     2174066  4
583639     2174072  4
583640     2174075  4
583641     2174083  1

[583642 rows x 2 columns]

In [13]:
F = df.groupby('CustomerID')['BillID'].count().reset_index()
F

        CustomerID  BillID
0                0       1
1                1       1
2                8       1
3               16       1
4               18       1
...            ...     ...
583637     2174065       1
583638     2174066       1
583639     2174072       3
583640     2174075       1
583641     2174083       1

[583642 rows x 2 columns]

In [14]:
F.rename(columns={'BillID':'Frequency'},inplace=True)

In [15]:
F_1 = F

In [16]:
F['Frequency'].unique()

array([  1,   2,   3,   4,   7,  16,   5,   8,   6,  15,   9,  20,  14,
        11,  12,  19,  27,  13,  10,  17,  42,  24,  18,  43,  21,  23,
        32,  29,  31,  35,  30,  34,  26,  48,  25,  39,  54, 141,  46,
        22,  37,  44,  47,  52,  45, 109,  50,  60,  28,  40, 123,  33,
        36,  72,  68,  61,  51,  67,  79,  64,  70,  56,  58,  57,  63,
       155,  38, 136,  41,  75,  53, 168,  81,  73,  89,  74,  82,  62,
        49,  98, 166,  77, 238,  80,  65,  83,  55,  99, 101,  84],
      dtype=int64)

In [17]:
F_seprate = lambda x: 1 if x < 15 else(2 if x >=15 and x<40 
                                        else(3 if x >=40 and x<80 
                                             else(4)))

In [18]:
F['F'] = F['Frequency'].apply(F_seprate)

In [19]:
F = F[['CustomerID','F']]
F

        CustomerID  F
0                0  1
1                1  1
2                8  1
3               16  1
4               18  1
...            ... ..
583637     2174065  1
583638     2174066  1
583639     2174072  1
583640     2174075  1
583641     2174083  1

[583642 rows x 2 columns]

In [20]:
M = df.groupby('CustomerID').agg({'SalesAmount':'sum'}).reset_index()

In [21]:
M

        CustomerID  SalesAmount
0                0       411663
1                1       105503
2                8      1098496
3               16       286558
4               18       287492
...            ...          ...
583637     2174065       138943
583638     2174066       143685
583639     2174072       953618
583640     2174075       262489
583641     2174083       185271

[583642 rows x 2 columns]

In [22]:
M_1 = M

In [23]:
Q1_M = M['SalesAmount'].quantile(0.25)
Q2_M = M['SalesAmount'].mean()
Q3_M=  M['SalesAmount'].quantile(0.75)
Q4_M = M['SalesAmount'].max()
print("Q1 (25th percentile):", Q1_M)
print("Q2 (median):", Q2_M)
print("Q3 (75th percentile):", Q3_M)
print("Q4 (max):", Q4_M)

Q1 (25th percentile): 201289.0
Q2 (median): 547735.4173003314
Q3 (75th percentile): 567481.25
Q4 (max): 133774476

In [24]:
M_seprate = lambda x: 1 if x < Q1_M else(2 if x >=Q1_M and x<Q2_M
                                        else(3 if x >=Q2_M and x<Q3_M
                                             else(4)))

In [25]:
M['M'] = M['SalesAmount'].apply(M_seprate)

In [26]:
M = M[['CustomerID','M']]

In [27]:
M

        CustomerID  M
0                0  2
1                1  1
2                8  4
3               16  2
4               18  2
...            ... ..
583637     2174065  1
583638     2174066  1
583639     2174072  4
583640     2174075  2
583641     2174083  1

[583642 rows x 2 columns]

In [28]:
RFM = R.merge(F, on='CustomerID', how = 'inner').merge(M, on = 'CustomerID', how = 'inner')
RFM

        CustomerID  R  F  M
0                0  1  1  2
1                1  2  1  1
2                8  3  1  4
3               16  3  1  2
4               18  1  1  2
...            ... .. .. ..
583637     2174065  2  1  1
583638     2174066  4  1  1
583639     2174072  4  1  4
583640     2174075  4  1  2
583641     2174083  1  1  1

[583642 rows x 4 columns]

In [29]:
RFM['RFM'] = RFM[['R','F','M']].apply(lambda x: ''.join(map(str,x)), axis = 1)
RFM

        CustomerID  R  F  M  RFM
0                0  1  1  2  112
1                1  2  1  1  211
2                8  3  1  4  314
3               16  3  1  2  312
4               18  1  1  2  112
...            ... .. .. ..  ...
583637     2174065  2  1  1  211
583638     2174066  4  1  1  411
583639     2174072  4  1  4  414
583640     2174075  4  1  2  412
583641     2174083  1  1  1  111

[583642 rows x 5 columns]

In [43]:
RFM['RFM'].unique()

array(['112', '211', '314', '312', '411', '412', '311', '212', '111',
       '414', '114', '214', '424', '213', '313', '113', '413', '324',
       '434', '224', '444', '234', '334', '124', '244', '322'],
      dtype=object)

In [ ]:
rfm = pd.read_csv('D:\\study\\data\\rfm\\rfm_segment.csv')

In [ ]:
rfm['RFM'] = rfm['RFM'].astype(str)

In [32]:
RFM_final = RFM.merge(rfm,on='RFM',how='inner')

In [33]:
RFM_final

        CustomerID  R  F  M  RFM         segment
0                0  1  1  2  112            Lost
1                1  2  1  1  211  About to sleep
2               16  3  1  2  312      Promising
3               18  1  1  2  112            Lost
4               25  4  1  1  411    New customer
...            ... .. .. ..  ...             ...
496885     2174065  2  1  1  211  About to sleep
496886     2174066  4  1  1  411    New customer
496887     2174072  4  1  4  414    New customer
496888     2174075  4  1  2  412    New customer
496889     2174083  1  1  1  111            Lost

[496890 rows x 6 columns]

In [34]:
RFM_final = RFM_final.drop(RFM_final.index[0])

In [44]:
RFM_final

        CustomerID  R  F  M  RFM         segment
1                1  2  1  1  211  About to sleep
2               16  3  1  2  312      Promising
3               18  1  1  2  112            Lost
4               25  4  1  1  411    New customer
5               26  4  1  2  412    New customer
...            ... .. .. ..  ...             ...
496885     2174065  2  1  1  211  About to sleep
496886     2174066  4  1  1  411    New customer
496887     2174072  4  1  4  414    New customer
496888     2174075  4  1  2  412    New customer
496889     2174083  1  1  1  111            Lost

[496889 rows x 6 columns]

In [ ]:
import plotly.express as px

In [ ]:
segment_count = RFM_final.groupby('segment')['CustomerID'].count().reset_index()
segment_count.rename({'CustomerID':'Total Customer'})
segment_count

In [47]:
segment_count= segment_count.rename(columns={'CustomerID':'Total Customer'})

In [48]:
segment_count

           segment  Total Customer
0   About to sleep          115904
1          At risk               2
2        Champions              16
3             Lost          132532
4  Loyal Customers               1
5     New customer          142711
6  Potential Loyal               7
7       Promising           105716

In [49]:
fig = px.bar(segment_count,x='segment',y='Total Customer',title='Customer Count by Segment')
fig.show()

In [30]:
Recency = R_1

In [31]:
Recency

        CustomerID TransactionDate  DateDiff  R
0                0      2021-12-24       834  1
1                1      2022-03-07       761  2
2                8      2022-07-11       635  3
3               16      2022-09-16       568  3
4               18      2022-01-29       798  1
...            ...             ...       ... ..
583637     2174065      2022-04-30       707  2
583638     2174066      2023-01-03       459  4
583639     2174072      2022-12-04       489  4
583640     2174075      2022-12-10       483  4
583641     2174083      2021-10-16       903  1

[583642 rows x 4 columns]

In [32]:
Frequency = F_1
Frequency

        CustomerID  Frequency  F
0                0          1  1
1                1          1  1
2                8          1  1
3               16          1  1
4               18          1  1
...            ...        ... ..
583637     2174065          1  1
583638     2174066          1  1
583639     2174072          3  1
583640     2174075          1  1
583641     2174083          1  1

[583642 rows x 3 columns]

In [33]:
Monetary = M_1
Monetary

        CustomerID  SalesAmount  M
0                0       411663  2
1                1       105503  1
2                8      1098496  4
3               16       286558  2
4               18       287492  2
...            ...          ... ..
583637     2174065       138943  1
583638     2174066       143685  1
583639     2174072       953618  4
583640     2174075       262489  2
583641     2174083       185271  1

[583642 rows x 3 columns]

In [34]:
RFM_ml = Recency.merge(Frequency,on='CustomerID',how='left').merge(Monetary,on='CustomerID',how='left')

In [35]:
RFM_ml = RFM_ml.merge(df,on='CustomerID',how='left')

In [36]:
RFM_ml = RFM_ml[['DateDiff','Frequency','SalesAmount_x','CustomerGender','VoucherStatus','Province']]

In [37]:
RFM_ml

,DateDiff,Frequency,SalesAmount_x,CustomerGender,VoucherStatus,Province
0,834,1,411663,Unknown,No,Ho Chi Minh City
1,761,1,105503,Unknown,No,Nothern Provinces
2,635,1,1098496,Unknown,No,Hanoi
3,568,1,286558,Unknown,No,Nothern Provinces
4,798,1,287492,Unknown,No,Hanoi
...,...,...,...,...,...,...
1048570,489,3,953618,Male,No,Southern Provinces
1048571,489,3,953618,Male,No,Ho Chi Minh City
1048572,489,3,953618,Male,No,Ho Chi Minh City
1048573,483,1,262489,Unknown,No,Southern Provinces
1048574,903,1,185271,Unknown,No,Southern Provinces

In [ ]:
#Calculate customer lifetime value

In [38]:
RFM_ml.shape[0]

1048575

In [39]:
# calculate average order_value
RFM_ml['AVG_order_value'] = RFM_ml['SalesAmount_x'] / RFM_ml['Frequency']

In [40]:
pd.options.display.float_format = '{:.2f}'.format

In [41]:
RFM_ml

,DateDiff,Frequency,SalesAmount_x,CustomerGender,VoucherStatus,Province,AVG_order_value
0,834,1,411663,Unknown,No,Ho Chi Minh City,411663.00
1,761,1,105503,Unknown,No,Nothern Provinces,105503.00
2,635,1,1098496,Unknown,No,Hanoi,1098496.00
3,568,1,286558,Unknown,No,Nothern Provinces,286558.00
4,798,1,287492,Unknown,No,Hanoi,287492.00
...,...,...,...,...,...,...,...
1048570,489,3,953618,Male,No,Southern Provinces,317872.67
1048571,489,3,953618,Male,No,Ho Chi Minh City,317872.67
1048572,489,3,953618,Male,No,Ho Chi Minh City,317872.67
1048573,483,1,262489,Unknown,No,Southern Provinces,262489.00
1048574,903,1,185271,Unknown,No,Southern Provinces,185271.00

In [42]:
purchase_frequency = RFM_ml['Frequency'] / RFM_ml.shape[0]

In [43]:
repeat_rate = RFM_ml['Frequency'][RFM_ml['Frequency'] > 1].shape[0] / RFM_ml.shape[0]
repeat_rate

0.6066452089740839

In [44]:
churn_rate = 1 - repeat_rate
churn_rate

0.3933547910259161

In [45]:
#calculate customer value
RFM_ml['CLV'] = (RFM_ml['AVG_order_value'] * purchase_frequency ) / churn_rate

In [87]:
RFM_ml

,DateDiff,Frequency,SalesAmount_x,CustomerGender,VoucherStatus,Province,AVG_order_value,CLV
0,833,1,411663,Unknown,No,Ho Chi Minh City,411663.00,1.00
1,760,1,105503,Unknown,No,Nothern Provinces,105503.00,0.26
2,634,1,1098496,Unknown,No,Hanoi,1098496.00,2.66
3,567,1,286558,Unknown,No,Nothern Provinces,286558.00,0.69
4,797,1,287492,Unknown,No,Hanoi,287492.00,0.70
...,...,...,...,...,...,...,...,...
1048570,488,3,953618,Male,No,Southern Provinces,317872.67,2.31
1048571,488,3,953618,Male,No,Ho Chi Minh City,317872.67,2.31
1048572,488,3,953618,Male,No,Ho Chi Minh City,317872.67,2.31
1048573,482,1,262489,Unknown,No,Southern Provinces,262489.00,0.64
1048574,902,1,185271,Unknown,No,Southern Provinces,185271.00,0.45

In [46]:
#  Let's assume our business has approx 5% profit on the total sale.
# calculate Profit Margin
RFM_ml['Profit Margin'] = RFM_ml['SalesAmount_x'] * 0.05

In [47]:
# calculate customer lifetime value
RFM_ml['Cust_lifetime_value'] = RFM_ml['CLV'] * RFM_ml['Profit Margin']

In [48]:
RFM_ml

,DateDiff,Frequency,SalesAmount_x,CustomerGender,VoucherStatus,Province,AVG_order_value,CLV,Profit Margin,Cust_lifetime_value
0,834,1,411663,Unknown,No,Ho Chi Minh City,411663.00,1.00,20583.15,20543.28
1,761,1,105503,Unknown,No,Nothern Provinces,105503.00,0.26,5275.15,1349.32
2,635,1,1098496,Unknown,No,Hanoi,1098496.00,2.66,54924.80,146279.35
3,568,1,286558,Unknown,No,Nothern Provinces,286558.00,0.69,14327.90,9954.31
4,798,1,287492,Unknown,No,Hanoi,287492.00,0.70,14374.60,10019.30
...,...,...,...,...,...,...,...,...,...,...
1048570,489,3,953618,Male,No,Southern Provinces,317872.67,2.31,47680.90,110238.92
1048571,489,3,953618,Male,No,Ho Chi Minh City,317872.67,2.31,47680.90,110238.92
1048572,489,3,953618,Male,No,Ho Chi Minh City,317872.67,2.31,47680.90,110238.92
1048573,483,1,262489,Unknown,No,Southern Provinces,262489.00,0.64,13124.45,8352.34
1048574,903,1,185271,Unknown,No,Southern Provinces,185271.00,0.45,9263.55,4161.03

In [49]:
RFM_ml.to_csv('RFM_ml.csv')

https://colab.research.google.com/drive/1my7G8yyOg_JFxfR4UzL7cI2uLlQmIjdk?authuser=3#scrollTo=XRg3jiWyVw-F